.u-section-1 .u-sheet-1 {
  min-height: 763px;
}

.u-section-1 .u-image-1 {
  width: 525px;
  height: 525px;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 148px;
  margin: -54px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 88px;
    margin-top: 131px;
  }
}