.u-section-1 .u-sheet-1 {
  min-height: 690px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: 0 auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}